<header class="wrapper header">
    <a href="{{ path('home_index') }}">Logo</a>
    <nav aria-label="Navigation Principal">
        <ul>
            <li><a href="{{ path('home_index') }}" {{ current_path('home') }} title="Accueil">Accueil</a></li>
            <li><a href="{{ path('home_index') }}" {{ current_path('presentation') }} title="Qui suis-je">Qui suis-je</a></li>
            <li><a href="{{ path('home_index') }}" {{ current_path('presentation_support') }} title="La prise en charge">La prise en charge</a></li>
            <li><a href="{{ path('home_index') }}" {{ current_path('blog') }} title="Blog">Blog</a></li>
            <li><a href="{{ path('home_index') }}" {{ current_path('login') }} title="Connexion">Connexion</a></li>
        </ul>
    </nav>
    <button aria-label="Afficher Le Menu" title="Afficher Le Menu">
        <span aria-label="Menu Icon"></span>
    </button>
</header>