<div class="form__control mb-2">
    {{ form_label(form.title, null, {'label_attr': {'class': 'form__label'}}) }}
    {{ form_errors(form.title) }}
    {{ form_widget(form.title, {'attr': {'class': 'form__input'}}) }}
</div>
<div class="form__control mb-2">
    {{ form_label(form.summary, null, {'label_attr': {'class': 'form__label'}}) }}
    {{ form_errors(form.summary) }}
    {{ form_widget(form.summary, {'attr': {'class': 'form__input'}}) }}
</div>
<div class="form__control mb-2">
    {{ form_label(form.content, null, {'label_attr': {'class': 'form__label'}}) }}
    {{ form_errors(form.content) }}
    {{ form_widget(form.content, {'attr': {'class': 'form__input'}}) }}
</div>
<div class="form__control mb-2">
    {{ form_label(form.uploadedFile, null, {'label_attr': {'class': 'form__label'}}) }}
    {{ form_errors(form.uploadedFile) }}
    {{ form_widget(form.uploadedFile, {'attr': {'class': 'form__input'}}) }}
</div>
<div class="form__control mb-2">
    {{ form_label(form.onlineAt, null, {'label_attr': {'class': 'form__label'}}) }}
    {{ form_errors(form.onlineAt) }}
    {{ form_widget(form.onlineAt, {'attr': {'class': 'form__input'}}) }}
</div>
<div class="form__control mb-2">
    {{ form_label(form.online, null, {'label_attr': {'class': 'form__label'}}) }}
    {{ form_errors(form.online) }}
    {{ form_widget(form.online, {'attr': {'class': 'form__input'}}) }}
</div>